<!doctype html>
<!--[if lt IE 8]>
    <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" data-ng-app="myApp" id="myApp" class="myApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Commit! Data</title>
    <link rel="icon"
          type="image/png"
          href="images/favicon.png" />
    <meta name="description" content="Responsive Admin Web App">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    @Html.Partial("_GoogleAnalytics")

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700" rel="stylesheet" type="text/css">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/content/fonts/themify-icons/themify-icons.min.css">
    <link rel="stylesheet" href="/content/fonts/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
   
    @*<link href="~/naep/style.css" rel="stylesheet" />*@
    <link href="~/kendo/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/kendo/css/kendo.common.min.css" rel="stylesheet" />

    @Styles.Render("~/bundles/css")


    <style>
        .angular-google-map-container {
            height: 400px;
        }

        .demo-section {
            width: 400px;
        }

            .demo-section p {
                padding: 5px 0;
            }
    </style>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-block-transitions {
            transition: 0s all !important;
            -webkit-transition: 0s all !important;
        }

        .ng-hide-add-active, .ng-hide-remove {
            display: block !important;
        }
    </style>
</head>
<body data-custom-page data-off-canvas-nav data-ng-controller="slimParentController" data-ng-class="{'layout-boxed': admin.layout === 'boxed'} " class="app" id="app">
    <div id="mobileWindow" style="position:fixed;height:80%;width:80%;background-color:white;z-index:2000;display:none; left:10%;top:10%;">
        <div class="k-widget k-window" style="width: 99%; height: 99%;">
            <div class="k-window-titlebar k-header">
                &nbsp;<span class="k-window-title">
                    Mobile devices not fully supported
                </span>
                <div class="k-window-actions">
                    <a class="k-window-action k-link" href="" id="closeLink"><span class="k-icon k-i-close">Close</span></a>
                </div>
            </div>
            <div data-role="window" class="k-window-content k-content">
                <div style="text-align:center;">
                    <img style="width:100%" alt="" src="images/logo5.png">
                </div>
                <div class="input-group" style="margin:10px 0;">
                    <input type="text" class="form-control" placeholder="{{message}}" ng-model="isolated.email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="AddEmail();"><div class=" glyphicon glyphicon-plus"></div></button>
                    </span>
                </div>
                <div>
                    Site is not fully supported on mobile devices. It is recommended to visit from desktop devices.
                </div>
            </div>
        </div>
    </div>
    <section data-ng-include=" '/app/templates/header.html' " id="header" class="header-container" data-ng-controller="HeaderCtrl" data-ng-class="{ 'header-fixed': admin.fixedHeader,
                                  'bg-white': ['11','12','13','14','15','16','21'].indexOf(admin.skin) >= 0,
                                  'bg-dark': admin.skin === '31',
                                  'bg-primary': ['22','32'].indexOf(admin.skin) >= 0,
                                  'bg-success': ['23','33'].indexOf(admin.skin) >= 0,
                                  'bg-info-alt': ['24','34'].indexOf(admin.skin) >= 0,
                                  'bg-warning': ['25','35'].indexOf(admin.skin) >= 0,
                                  'bg-danger': ['26','36'].indexOf(admin.skin) >= 0
                 }"></section>
    <div class="main-container">
        <aside data-ng-include=" '/app/templates/nav.html' " id="nav-container" class="nav-container" data-ng-class="{ 'nav-fixed': admin.fixedSidebar,
                                    'nav-horizontal': admin.menu === 'horizontal',
                                    'nav-vertical': admin.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(admin.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(admin.skin) < 0
                   }"></aside>


        @RenderBody()
    </div>

    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/lib")

    @*<script src="~/naep/d3-legend.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>*@

    @Scripts.Render("~/bundles/app")

    <script type="text/javascript">
        function MobileDeviceFound() {
            $("#closeLink", "#mobileWindow").click(function () { $("#mobileWindow").hide(); });
            $("#mobileWindow").show();
        };
        (function () { if (window.screen.availWidth <= 768) MobileDeviceFound(); }());
        (function (a, b) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) b(); })(navigator.userAgent || navigator.vendor || window.opera, MobileDeviceFound);

        (function () { if ($(window).width() <= 768) MobileDeviceFound(); }());

        var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
        if (isSafari) {
            console.log("Safari browser found.");
            alert('Your web browser Safari does not support the technology this site uses. Please use Google Chrome, Firefox or the latest version of Internet Explorer to use the dashboard. Thank you!');
        }

    </script>
    @Html.Partial("_HotjarAnalytics")
</body>
</html>